@media all and (max-width: 961px){
	
	html {
	background: url(../images/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Helvetica Neue', sans-serif;
	

}

	.profile-box { 
	width: 400px;
	height: 400px;
	background: rgba(0,0,0,0,4);
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 140px;
	text-align: center;
 }

	.prof-pic {
 	border-radius: 80px;
 	height: 240px;
 	width: 240px;

 }

 	h1{
 	font-weight: 100;
	letter-spacing: 5;
	font-size: 35px;
}

	p{
	font-weight: 200;
	letter-spacing: 1;

}

	.social-icons{
	font-size: 40px;
}

	.social-icons a{
	color: white
}

	.line-break{
	width: 300px;
	margin: 0 auto;
	border-top: 1px solid white;

}

